body {
  font-family: 'Roboto', sans-serif;
  background-color: #f7f7f7;
  overflow-x: hidden;
}

body > center > p {
  font-size: 0.4em;
  background-color: white;
  width: 90%;
}

body > header > h1 > img {
  margin-right: 15px;
  margin-top: 0px;
  position: absolute;
}

body > p > img {
  width: 26px;
  background-color: white;
  margin-left: 10px;
  position: absolute;
}

pre {
  font-family: inherit;
  font-size: inherit;
}

.header {
  background-color: #3b5998;
  color: #fff;
  padding: 1rem 0;
  text-align: center;
}

#fblogo {
  margin-left: 5px;
  position: absolute;
}

.overlay {
  background-color: rgba(0, 0, 0, .5);
}


.modal-open {
  overflow: hidden;
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  outline: 0;
  z-index: 1072;
  transition: visibility, .3s ease-in-out, opacity .3s ease-in-out;

  &__dialog {
    position: relative;
    width: auto;
    margin: 0.5rem;
    pointer-events: none;
    transform: translate(0, -25%);
    transition: transform .3s ease-in-out .15s;

    @media screen and (min-width: 576px) {
      max-width: 500px;
      margin: 1.75rem auto;
    }
  }

  &.show {
    opacity: 1;
    visibility: visible;

    .modal__dialog {
      transform: translate(0, 0);
    }
  }

  &__title {
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: .75rem;
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    outline: 0;
    box-shadow: 0 9px 21px rgba(0, 0, 0, 0.2);
  }

  &__header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #e9ecef;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
  }

  &__close {
    padding: 1rem;
    margin: -1rem -1rem -1rem auto;

    &:hover {
      svg {
        path {
          fill: rgba(grey, .85)
        }
      }
    }

    svg {
      path {
        fill: grey;
        transition: fill .15s ease-in-out;

      }
    }
  }


  &__body {
    position: relative;
    flex: 1 1 auto;
    padding: 1rem;
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-top: 1px solid #e9ecef;

    .btn {
      border-radius: 4px;
      padding: 7px 20px;
      font-size: 16px;
      border: 1px solid #e9ecef;
      background-color: green;
      color: #fff;
      opacity: 1;
      transition: opacity .15s ease-in-out;

      &:hover {
        opacity: .85;
      }
    }
  }
}

.comments {
  margin: 1rem 1rem 1.5rem;
  padding: .5rem;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);

  .title {
    text-align: center;
    margin-bottom: .5rem;
  }
}

.comment {
  display: flex;
  flex-direction: column;
  padding: .5rem;

  & + & {
    border-top: 1px solid #e9ecef;
  }

  &__media {
    display: flex;
    margin: 0 1rem 0 0;
    width: 40px;
    height: 40px;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &__header {
    display: flex;
  }

  &__flex{
    flex: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  &__angle {
    align-self: center;
    transform: rotate(0deg);
    transition: transform .15s ease-in-out;

    .open & {
      transform: rotate(180deg);
    }
  }

  &__body {
    margin-top: .5rem;

    .comment {
      margin-top: .5rem;
      margin-left: 4.5rem;
    }
  }

  &__title {
    margin-bottom: .25rem;
    font-style: italic;
    color: #47649F;
  }

  &__text {
    margin-bottom: .25rem;
    font-size: 14px;
  }

  &__date {
    font-size: 12px;
    color: #ADB2BB;
  }
}

.post-options {
  display: flex;

  &__item {
    & + & {
      margin-left: 20px;
    }
  }

  &__link {
    display: inline-flex;
    align-items: center;
    font-size: 12px;
    line-height: 1;
    color: #AFB4BD;

    span {
      margin-left: 5px;
    }
  }
}